/* .header {
    display: grid;
    grid-area: h;
    background-color: rgb(181, 212, 55);
    height: 48px;
    


} */



.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    justify-self: start;
  }
  
  .search {
    justify-self: center;
  }
  
  .icons {
    justify-self: end;
  }
  
  .profiles {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  
  .search-input {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding: 5px;
  }
  .search{
    width:230px!important;
    height:32px;
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
    background: url(../../images/searchBack.svg) no-repeat 10px;
    background-color: #EDEEF0;
    outline: none;
    border-radius: 8px;
    padding-left: 34px;
  }
  
  
  .logoImage {
    width: 30px;
    height: 30px;
  }
  
  .notification-icon,
  .music-icon,
  .app-icon {
    width: 20px;
    height: 20px;
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

