.navbar {
    display: grid;
    text-decoration: none;
    grid-auto-rows: min-content;

    



grid-area: n;
background-color: rgb(192, 115, 15);

}
.navbar a {
    text-decoration: none;
}

.active {
    
}
.item  {
    height: 30px;
    background-color: pink;
}
 