.App {
    width: 80%;
    margin: 0 auto;
    display: grid;
   
grid-template-columns: 164px 911px;
grid-gap: 10px;
grid-template-areas: 
"h h"
"n c";

}



.profile {
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template-columns:1fr 5fr;
    grid-gap: 10px;
    grid-template-areas: 

    "p a"

    ;
}
.photo{
    grid-area: p;
    background-color: antiquewhite;
}
.anket {
    grid-area: a;
    background-color: cadetblue;
    width: 100%;
    
}